body{
  padding:0px;
  margin:0px;
}

ul,li{
  padding:0px;
  margin:0px;
}

a{
  color:inherit;
}

a:hover{
  color:inherit;
}
div{
  padding:0px;
  margin:0px;
}

.float-right{
  float:right;
}

.button{
-webkit-border-top-left-radius:10px;
-webkit-border-top-right-radius:10px;

-moz-border-top-left-radius:10px;
-moz-border-top-right-radius:10px;

  display:block;
  height:20px;
  cursor:pointer;
  float:left;
  padding: 5px 10px 5px 10px;
  margin-left:10px;
}

ul.panel-nav-buttons {
  display:block;
  float:left;
}
.panel-nav-buttons li{
  list-style-type:none;
  display:block;
  float:left;
  padding-right:20px;
  cursor:pointer;
}

.nav-focus{
  border-top: 2px solid #eaeaea; 
  border-left: 2px solid #eaeaea; 
  border-right: 2px solid #eaeaea; 
  background-color:#eaeaea;
  color:#2c343b;
}

.palette-bright{
  background-color: #ffffff;
}
.palette-dark{
  background-color: #2c343b;
}
.pallet-shadow{
  background-color: #52616d;
}
.pallet-gray{
  background-color: #eae1d1;
}
.pallet-focus{
  background-color: #c44741;
}

div.page{
  width:960px;
  margin:auto;
}
div.nav{
  font-size:14px;
  font-family:Times new man;
  padding:10px 20px 0px 20px;
  height:30px;
  background-color:#52616d;
  color:white;
  border-bottom:2px solid white;
}

div.panel-nav{
  font-size:14px;
  font-family:Times new man;
  padding:5px 20px 0px 20px;
  height:20px;
  background-color:#f0f0f0;
  color:#1a1a1a;
  border-top: 1px solid #3a3a3a; 
  border-right: 1px solid #3a3a3a; 
  border-left: 1px solid #3a3a3a; 
  border-bottom: 1px solid #3a3a3a; 
  -webkit-border-top-left-radius:10px;
  -webkit-border-top-right-radius:10px;

  -moz-border-top-left-radius:10px;
  -moz-border-top-right-radius:10px;

}

div.panel-nav span{
  cursor:pointer;
}

.panel-nav-focus{
  border: 1px solid #dadada; 
  color:#2c343b;
}


div.nav-sub{
  height:150px;
  background-color:#eaeaea;
  border-bottom:1px solid #eae1d1;
}
div.nav-sub div.msg{
  padding:20px 30px 0px 30px;
}

div.foot{
  background-color:#2c343b;
  color:#eae1d1;
  padding:10px;
  border-top: 10px solid #eae1d1;
  padding:50px 50px 10px 50px;
  margin-top:50px;
}

.gamewindow{
  width:958px;
  height:635px;
  overflow:hidden;
  border-left:1px solid #3a3a3a;
  border-right:1px solid #3a3a3a;
  border-bottom:1px solid #3a3a3a;
}

.focus{
  font-weight:bold;
}

iframe{
  border:0px;
  padding:0px;
  margin:0px;
}
